:80 {
	root * /usr/share/caddy
	encode gzip zstd
	try_files {path} /index.html
	file_server

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "no-referrer-when-downgrade"
		X-XSS-Protection "0"
	}
}
