.Content {
  display: block;
  position: relative;
  background: #ffffff;
  color: #000000;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  max-width: 80%;
  margin: auto;
  padding: 25px;
  margin-bottom: 5%;
}

.Content h3 {
  color: #5131e3;
}
