@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

.text-bold {
  font-weight: 700;
}

.text-italic {
  font-style: oblique;
}

.text-blue {
  color: #2962ff;
}

.text-orange {
  color: #dd2c00;
}

.text-box {
  border-radius: 20px;
  overflow: hidden;
  margin: 20px;
  padding: 20px;
}

.button {
  font-size: 1.5em;
  font-weight: 500;
  border-radius: 25px;
  padding: 15px;
  overflow: hidden;
  width: 5em;
  margin: 20px 0;
  display: block;
  text-decoration: none;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.gradient-blue {
  background-image: linear-gradient(to right, #2962ff, #6200ea);
  color: #fff;
}

.gradient-blue-hover:hover {
  background-image: linear-gradient(to right, #2979ff, #651fff);
  color: #fff;
}

.gradient-orange {
  background-image: linear-gradient(to right, #dd2c00, #ffab00);
  color: #fff;
}

.gradient-orange-hover:hover {
  background-image: linear-gradient(to right, #ff3d00, #ffc400);
  color: #fff;
}

.skew-top {
  background-color: #fff;
  min-height: 50vh;
  position: relative;
}

.skew-top::after {
  content: "";
  position: absolute;
  bottom: -10vmax;
  left: 0;
  right: 0;
  height: 20vmax;
  background: #fff;
  transform: skewY(6deg);
  z-index: -10;
}
