body {
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  background: #000;
  overflow-x: hidden;
}

h1 {
  font-size: 3em;
  font-weight: 500;
  margin: 0 0 20px 0;
}

p {
  font-size: 1.7em;
  font-weight: 500;
  margin: 0 0 20px 0;
}
