body {
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  background: #000;
  overflow-x: hidden;

  /*Until I add more content*/
  overflow-y: hidden;
}

h1 {
  font-size: 6em;
  font-weight: 500;
  margin-top: 50px;
  margin-bottom: 0;
}

p {
  font-size: 2em;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 0;
}