body {
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  background: #000;
  overflow-x: hidden;

  /*Until I add more content*/
  /*overflow-y: hidden;*/
}

h1 {
  font-size: 4em;
  font-weight: 500;
  margin: 0 0 20px 0;
}

p {
  font-size: 1.8em;
  font-weight: 500;
  margin: 0 0 20px 0;
}