name: lint
on: push

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: lint
        uses: creyD/prettier_action@v4.2
        with:
          prettier_options: --write .
